.path-local-bulkedit .headerwithcontroller {
    margin-left: 25%;
    display: inline;
}

.path-local-bulkedit .headerwithcontroller + .fitem {
    display: inline-block;
}

.path-local-bulkedit .headerwithcontroller + .fitem .col-md-9 {
    display: inline;
    padding-left: 0;
}
